body {
  font-family: "Baloo Thambi 2", cursive;
  margin: 0px;
}

/*
Gris Background: #222831
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

header {
  background-color: #222831;
  color: white;
  height: 120px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  height: inherit;
}

.menu ol {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: inherit;
}

.menu li {
  display: flex;
  font-size: 20px;
  list-style: none;
  padding: 0px 10px;
  height: inherit;
}

.header a {
  display: flex;
  text-decoration: none;
  color: white;
  height: inherit;
  align-items: center;
}

.header figure {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.portfolio {
  background: #eeeeee;
}

.project {
  display: flex;
}
.project-detail {
  width: 500px;
}

.hero {
  height: 300px;
  background-color: #222831;
  color: white;
  background-image: url("../images/Yo.jpg");
  background-size: 500px 300px;
  background-position: right;
  background-repeat: no-repeat;
}

.hero strong {
  color: #32e0c4;
}

.portfolio-title {
  color: #32e0c4;
}

.project {
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
}
