body {
  font-family: "Baloo Thambi 2", cursive;
  margin: 0px;
}

/*
Gris Background: #222831
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

header {
  opacity: 0.8;
  background-image: url("../images/fondo.jpg");
  background-size: 40%;
  color: white;
  height: 120px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  opacity: 1;
}

header .menu {
  height: inherit;
}

.menu ol {
  margin: 0px;
  padding: 0px;
  display: flex;
  height: inherit;
}

.menu li {
  display: flex;
  font-size: 20px;
  list-style: none;
  padding: 0px 10px;
  height: inherit;
}

.header a {
  display: flex;
  text-decoration: none;
  color: #eae7d9;
  height: inherit;
  align-items: center;
}

.header figure {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 300px;
  background-color: #222831;
  color: white;
  background-image: url("../images/Yo.jpg");
  background-size: 500px 300px;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
}

.hero strong {
  color: #32e0c4;
}

.portfolio {
  background: #eeeeee;
}

.portfolio-title {
  color: #2c003e;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
  padding: 20px;
}

.project {
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.project-detail {
  width: 500px;
}

.project-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.project-technology {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
}

.project-date {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
}

.project-link {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 15px;
}

.project-description {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 10px;
}

.project-image {
  height: 250px;
}

.footer {
  color: white;
  display: flex;
  font-size: 20px;
  height: 50px;
  background-color: #222831;
  justify-content: center;
  align-items: center;
}
